# Pandas Exercises
- The goal of the exercises
    - Get comfortable with Pandas DataFrames
    - Establish workflows with Pandas
    - Deal with missing data
    - Make calculations on data
    - Export to Excel
- At each step, there are cells after the instructions where you should write your code.  Just below that, there is a cell showing the output you should get.

### Step 1
- import the Pandas library
- read the **gdp-00s.csv** file into a DataFrame **gdp00**
- ensure to set the **index_col** to 0
- Call **gdp00.head()**

In [31]:
import pandas as pd

In [43]:
gdp00 = pd.read_csv("gdp-00s.csv",index_col=0)

In [44]:
gdp00.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
Country (or dependent territory),,,,,,,,,,
Afghanistan,NaN,NaN,18768.0,20806.0,21522.0,24842.0,26978.0,31390.0,33242.0,40390.0
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
Country (or dependent territory),,,,,,,,,,
Afghanistan,NaN,NaN,18768.0,20806.0,21522.0,24842.0,26978.0,31390.0,33242.0,40390.0
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0

### Step 2
- read the **gdp-10s.csv** file into a DataFrame **gdp10**
- ensure to set the **index_col** to 0
- Call **gdp10.head()**

In [5]:
gdp10 = pd.read_csv("gdp-10s.csv",index_col=0)

In [6]:
gdp10.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country (or dependent territory),,,,,,,,,,
Afghanistan,46304.0,50334.0,59945.0,63784.0,69444.0,72056.0,70098.0,74712.0,77416.0,81880.0
Albania,28328.0,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0
Algeria,471508.0,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0
Angola,153871.0,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0
Antigua and Barbuda,1814.0,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country (or dependent territory),,,,,,,,,,
Afghanistan,46304.0,50334.0,59945.0,63784.0,69444.0,72056.0,70098.0,74712.0,77416.0,81880.0
Albania,28328.0,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0
Algeria,471508.0,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0
Angola,153871.0,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0
Antigua and Barbuda,1814.0,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0

### Step 3
- concatenate the DataFrames **gdp00** and **gdp10** into **gdp** 
- HINT: concatenate() exists in the pandas library.
- HINT: **axis=1** parameter 
- Call **gdp.head()**

In [59]:
gdp0 = pd.concat([gdp00, gdp10], axis=1)
gdp = gdp0.rename_axis(None, axis=0)

In [60]:
gdp.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Afghanistan,NaN,NaN,18768.0,20806.0,21522.0,24842.0,26978.0,31390.0,33242.0,40390.0,46304.0,50334.0,59945.0,63784.0,69444.0,72056.0,70098.0,74712.0,77416.0,81880.0
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,28328.0,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,471508.0,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,153871.0,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,1814.0,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Afghanistan,NaN,NaN,18768.0,20806.0,21522.0,24842.0,26978.0,31390.0,33242.0,40390.0,46304.0,50334.0,59945.0,63784.0,69444.0,72056.0,70098.0,74712.0,77416.0,81880.0
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,28328.0,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,471508.0,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,153871.0,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,1814.0,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0

### Step 4
- Drop all rows with **NaN**
- use argument **inplace=True**
- Call **gdp.head()**
- HINT: dropna() method on the DataFrame object

In [61]:
gdp.dropna(inplace=True)

In [62]:
gdp.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,28328.0,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,471508.0,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,153871.0,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,1814.0,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0
Argentina,437650.0,427890.0,387126.0,429738.0,481426.0,540900.0,602385.0,674119.0,715230.0,678009.0,736718.0,797264.0,819698.0,849616.0,839897.0,867177.0,885228.0,1039331.0,1036982.0,1033456.0

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,28328.0,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,471508.0,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,153871.0,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,1814.0,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0
Argentina,437650.0,427890.0,387126.0,429738.0,481426.0,540900.0,602385.0,674119.0,715230.0,678009.0,736718.0,797264.0,819698.0,849616.0,839897.0,867177.0,885228.0,1039331.0,1036982.0,1033456.0

### Step 5
- Calculate the GDP growth from 2000-2019 as a percentage in a column named **19y-pct**
- Call **gdp.head()**

In [63]:
gdp["19y-pct"] = (gdp["2019"] - gdp["2000"])/gdp["2000"]*100

In [64]:
gdp.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,19y-pct
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,...,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0,224.406938
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,...,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0,102.443358
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,...,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0,494.142941
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,...,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0,67.126437
Argentina,437650.0,427890.0,387126.0,429738.0,481426.0,540900.0,602385.0,674119.0,715230.0,678009.0,...,797264.0,819698.0,849616.0,839897.0,867177.0,885228.0,1039331.0,1036982.0,1033456.0,136.137553

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,19y-pct
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,...,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0,224.406938
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,...,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0,102.443358
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,...,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0,494.142941
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,...,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0,67.126437
Argentina,437650.0,427890.0,387126.0,429738.0,481426.0,540900.0,602385.0,674119.0,715230.0,678009.0,...,797264.0,819698.0,849616.0,839897.0,867177.0,885228.0,1039331.0,1036982.0,1033456.0,136.137553

### Step 6
- Calculate 10y-pct from 2009-2019
- Head

In [65]:
gdp["10y-pct"] =  (gdp["2019"] - gdp["2009"])/gdp["2009"]*100

In [66]:
gdp.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,19y-pct,10y-pct
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,...,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0,224.406938,60.142062
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,...,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0,102.443358,17.712031
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,...,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0,494.142941,72.510353
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,...,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0,67.126437,13.949843
Argentina,437650.0,427890.0,387126.0,429738.0,481426.0,540900.0,602385.0,674119.0,715230.0,678009.0,...,819698.0,849616.0,839897.0,867177.0,885228.0,1039331.0,1036982.0,1033456.0,136.137553,52.425115

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,19y-pct,10y-pct
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,...,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0,224.406938,60.142062
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,...,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0,102.443358,17.712031
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,...,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0,494.142941,72.510353
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,...,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0,67.126437,13.949843
Argentina,437650.0,427890.0,387126.0,429738.0,481426.0,540900.0,602385.0,674119.0,715230.0,678009.0,...,819698.0,849616.0,839897.0,867177.0,885228.0,1039331.0,1036982.0,1033456.0,136.137553,52.425115

### Step 7
- List the 10 countries with highest GDP growth rate in the 19 years 2000-2019.
- HINT:
    - sort_value
    - ascending=False
    - head(10)

In [67]:
gdp_highest19 = gdp.sort_values(by=["19y-pct"],ascending=False)

In [68]:
gdp_highest19.head(10)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,19y-pct,10y-pct
Turkmenistan,11563.0,14238.0,16737.0,19989.0,23556.0,27484.0,31435.0,35840.0,41932.0,44842.0,...,63516.0,68363.0,73746.0,76192.0,78516.0,81788.0,88905.0,96231.0,732.232120,114.600152
Ethiopia,32835.0,36075.0,37227.0,37172.0,42675.0,49617.0,57043.0,65468.0,74220.0,82293.0,...,112533.0,122434.0,148487.0,167119.0,191322.0,215094.0,237224.0,263111.0,701.312624,219.724642
Maldives,1416.0,1498.0,1614.0,2064.0,2399.0,2275.0,2812.0,3180.0,3654.0,3485.0,...,5438.0,6140.0,6957.0,7628.0,8279.0,8930.0,9774.0,10511.0,642.302260,201.606887
Vietnam,159786.0,174695.0,189936.0,207945.0,230306.0,255657.0,281900.0,310034.0,334014.0,354717.0,...,568401.0,607018.0,660612.0,700257.0,770872.0,851064.0,933163.0,1016475.0,536.147723,186.559426
China,3698622.0,4096897.0,4538333.0,5091708.0,5760129.0,6617286.0,7686835.0,9011953.0,10070854.0,11080887.0,...,15137455.0,16277355.0,17200686.0,17880337.0,18701703.0,19814058.0,21659302.0,23393004.0,532.478907,111.111295
Armenia,7002.0,7840.0,9139.0,10630.0,12067.0,14213.0,16583.0,19365.0,21117.0,18266.0,...,27009.0,28500.0,29231.0,29167.0,31429.0,35677.0,38442.0,42095.0,501.185376,130.455491
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,...,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0,494.142941,72.510353
Bhutan,1505.0,1647.0,1832.0,2039.0,2236.0,2459.0,2711.0,3133.0,3538.0,3769.0,...,5194.0,5462.0,5871.0,6591.0,7270.0,7934.0,8434.0,8912.0,492.159468,136.455293
Rwanda,4997.0,5546.0,6373.0,6644.0,7335.0,8282.0,9323.0,10301.0,11675.0,12500.0,...,15780.0,16762.0,19002.0,20620.0,22076.0,23665.0,26312.0,29298.0,486.311787,134.384000
Cambodia,13254.0,14660.0,15865.0,17557.0,19906.0,23268.0,26567.0,30059.0,32700.0,33644.0,...,42401.0,45764.0,48654.0,52598.0,57942.0,62838.0,69193.0,75390.0,468.809416,124.081560

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,19y-pct,10y-pct
Turkmenistan,11563.0,14238.0,16737.0,19989.0,23556.0,27484.0,31435.0,35840.0,41932.0,44842.0,...,63516.0,68363.0,73746.0,76192.0,78516.0,81788.0,88905.0,96231.0,732.232120,114.600152
Ethiopia,32835.0,36075.0,37227.0,37172.0,42675.0,49617.0,57043.0,65468.0,74220.0,82293.0,...,112533.0,122434.0,148487.0,167119.0,191322.0,215094.0,237224.0,263111.0,701.312624,219.724642
Maldives,1416.0,1498.0,1614.0,2064.0,2399.0,2275.0,2812.0,3180.0,3654.0,3485.0,...,5438.0,6140.0,6957.0,7628.0,8279.0,8930.0,9774.0,10511.0,642.302260,201.606887
Vietnam,159786.0,174695.0,189936.0,207945.0,230306.0,255657.0,281900.0,310034.0,334014.0,354717.0,...,568401.0,607018.0,660612.0,700257.0,770872.0,851064.0,933163.0,1016475.0,536.147723,186.559426
China,3698622.0,4096897.0,4538333.0,5091708.0,5760129.0,6617286.0,7686835.0,9011953.0,10070854.0,11080887.0,...,15137455.0,16277355.0,17200686.0,17880337.0,18701703.0,19814058.0,21659302.0,23393004.0,532.478907,111.111295
Armenia,7002.0,7840.0,9139.0,10630.0,12067.0,14213.0,16583.0,19365.0,21117.0,18266.0,...,27009.0,28500.0,29231.0,29167.0,31429.0,35677.0,38442.0,42095.0,501.185376,130.455491
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,...,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0,494.142941,72.510353
Bhutan,1505.0,1647.0,1832.0,2039.0,2236.0,2459.0,2711.0,3133.0,3538.0,3769.0,...,5194.0,5462.0,5871.0,6591.0,7270.0,7934.0,8434.0,8912.0,492.159468,136.455293
Rwanda,4997.0,5546.0,6373.0,6644.0,7335.0,8282.0,9323.0,10301.0,11675.0,12500.0,...,15780.0,16762.0,19002.0,20620.0,22076.0,23665.0,26312.0,29298.0,486.311787,134.384000
Cambodia,13254.0,14660.0,15865.0,17557.0,19906.0,23268.0,26567.0,30059.0,32700.0,33644.0,...,42401.0,45764.0,48654.0,52598.0,57942.0,62838.0,69193.0,75390.0,468.809416,124.081560

### Step 8
- List the 10 countries with highest GDP growth rate between 2000-2019.
- HINT:
    - sort_value
    - ascending=False
    - head(10)

In [69]:
gdp_highest10 = gdp.sort_values(by=["10y-pct"],ascending=False)

In [70]:
gdp_highest10.head(10)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,19y-pct,10y-pct
Ethiopia,32835.0,36075.0,37227.0,37172.0,42675.0,49617.0,57043.0,65468.0,74220.0,82293.0,...,112533.0,122434.0,148487.0,167119.0,191322.0,215094.0,237224.0,263111.0,701.312624,219.724642
Maldives,1416.0,1498.0,1614.0,2064.0,2399.0,2275.0,2812.0,3180.0,3654.0,3485.0,...,5438.0,6140.0,6957.0,7628.0,8279.0,8930.0,9774.0,10511.0,642.302260,201.606887
Vietnam,159786.0,174695.0,189936.0,207945.0,230306.0,255657.0,281900.0,310034.0,334014.0,354717.0,...,568401.0,607018.0,660612.0,700257.0,770872.0,851064.0,933163.0,1016475.0,536.147723,186.559426
Moldova,6691.0,7263.0,7951.0,8647.0,9539.0,10584.0,11431.0,12087.0,13290.0,12589.0,...,21055.0,23961.0,25218.0,26233.0,29732.0,32101.0,34187.0,36044.0,438.693768,186.313448
Comoros,659.0,697.0,737.0,770.0,789.0,849.0,886.0,914.0,941.0,966.0,...,1818.0,1955.0,2063.0,2107.0,2278.0,2468.0,2619.0,2716.0,312.139605,181.159420
Djibouti,1222.0,1272.0,1333.0,1403.0,1482.0,1577.0,1704.0,1837.0,1982.0,2029.0,...,3436.0,3625.0,3855.0,4181.0,4360.0,4612.0,5120.0,5602.0,358.428805,176.096599
Democratic Republic of the Congo,20342.0,20369.0,21291.0,22927.0,25145.0,27546.0,29903.0,32619.0,35331.0,36616.0,...,46214.0,53768.0,62685.0,69036.0,75927.0,86267.0,93476.0,99312.0,388.211582,171.225694
Panama,25390.0,26116.0,27112.0,28820.0,31836.0,35220.0,39402.0,45349.0,50220.0,51410.0,...,70434.0,79815.0,89330.0,100479.0,112346.0,125071.0,132802.0,139237.0,448.393068,170.836413
Ivory Coast,39351.0,40296.0,40233.0,40477.0,42102.0,44205.0,46254.0,48323.0,50524.0,52562.0,...,78215.0,86354.0,97907.0,108069.0,112610.0,118051.0,129098.0,139966.0,255.686005,166.287432
Guyana,2727.0,2852.0,2930.0,2969.0,3098.0,3135.0,3398.0,3733.0,3881.0,4040.0,...,7916.0,8370.0,8360.0,8594.0,8714.0,9307.0,9953.0,10673.0,291.382472,164.183168

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,19y-pct,10y-pct
Ethiopia,32835.0,36075.0,37227.0,37172.0,42675.0,49617.0,57043.0,65468.0,74220.0,82293.0,...,112533.0,122434.0,148487.0,167119.0,191322.0,215094.0,237224.0,263111.0,701.312624,219.724642
Maldives,1416.0,1498.0,1614.0,2064.0,2399.0,2275.0,2812.0,3180.0,3654.0,3485.0,...,5438.0,6140.0,6957.0,7628.0,8279.0,8930.0,9774.0,10511.0,642.302260,201.606887
Vietnam,159786.0,174695.0,189936.0,207945.0,230306.0,255657.0,281900.0,310034.0,334014.0,354717.0,...,568401.0,607018.0,660612.0,700257.0,770872.0,851064.0,933163.0,1016475.0,536.147723,186.559426
Moldova,6691.0,7263.0,7951.0,8647.0,9539.0,10584.0,11431.0,12087.0,13290.0,12589.0,...,21055.0,23961.0,25218.0,26233.0,29732.0,32101.0,34187.0,36044.0,438.693768,186.313448
Comoros,659.0,697.0,737.0,770.0,789.0,849.0,886.0,914.0,941.0,966.0,...,1818.0,1955.0,2063.0,2107.0,2278.0,2468.0,2619.0,2716.0,312.139605,181.159420
Djibouti,1222.0,1272.0,1333.0,1403.0,1482.0,1577.0,1704.0,1837.0,1982.0,2029.0,...,3436.0,3625.0,3855.0,4181.0,4360.0,4612.0,5120.0,5602.0,358.428805,176.096599
Democratic Republic of the Congo,20342.0,20369.0,21291.0,22927.0,25145.0,27546.0,29903.0,32619.0,35331.0,36616.0,...,46214.0,53768.0,62685.0,69036.0,75927.0,86267.0,93476.0,99312.0,388.211582,171.225694
Panama,25390.0,26116.0,27112.0,28820.0,31836.0,35220.0,39402.0,45349.0,50220.0,51410.0,...,70434.0,79815.0,89330.0,100479.0,112346.0,125071.0,132802.0,139237.0,448.393068,170.836413
Ivory Coast,39351.0,40296.0,40233.0,40477.0,42102.0,44205.0,46254.0,48323.0,50524.0,52562.0,...,78215.0,86354.0,97907.0,108069.0,112610.0,118051.0,129098.0,139966.0,255.686005,166.287432
Guyana,2727.0,2852.0,2930.0,2969.0,3098.0,3135.0,3398.0,3733.0,3881.0,4040.0,...,7916.0,8370.0,8360.0,8594.0,8714.0,9307.0,9953.0,10673.0,291.382472,164.183168

### Step 9
- Export data to Excel
- Name the file **gdp.xlsx**

In [71]:
gdp.to_excel("gdp.xlsx")

# Done